<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tune Hive</title>
    <link rel="stylesheet" href="/css/account.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <header class="navbar">

        <div class="logo">🎧 TUNE HIVE</div>

        <nav>
            <a href="/home">Music <span class="arrow">▼</span></a>
            <a href="/index">Podcasts <span class="arrow">▼</span></a>
            <a href="/plans">Pro <span class="arrow">▼</span></a>
        </nav>

        <input type="text" placeholder="Search">

        <div class="nav-right">
            <div class="language-dropdown">
                <a href="#" id="languageToggle">Music Language <span class="arrow">▼</span></a>

                <div class="language-menu" id="languageMenu">
                    <p class="title">What music do you like?</p>
                    <small>Pick all the languages you want to listen to.</small>

                    <label>
                        <input type="checkbox">
                        <span>Malayalam</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Tamil</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Telugu</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Hindi</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Kannada</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Odia</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Marathi</span>
                    </label>

                    <button id="updateBtn">Update</button>
                </div>
            </div>
            <a href="/">Login <span class="arrow">▼</span></a>
        </div>

    </header>


    <div class="container">

        <!-- SIDEBAR -->

        <aside class="sidebar">

            <h3>BROWSE</h3>

            <ul class="menu">

                <li class="menu-item">
                    <div class="menu-title">New Release ▼</div>
                    <ul class="submenu">
                        <li>Latest Albums</li>
                        <li>Latest Singles</li>
                        <li>Trending Songs</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Top Charts ▼</div>
                    <ul class="submenu">
                        <li>India Top 50</li>
                        <li>Global Top 50</li>
                        <li>Weekly Trending</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Top Playlists ▼</div>
                    <ul class="submenu">
                        <li>Workout Mix</li>
                        <li>Chill Hits</li>
                        <li>Party Songs</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Podcasts ▼</div>
                    <ul class="submenu">
                        <li>Tech Podcasts</li>
                        <li>Motivation</li>
                        <li>Comedy Shows</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Top Artists ▼</div>
                    <ul class="submenu">
                        <li>Arijit Singh</li>
                        <li>Neha Kakkar</li>
                        <li>A R Rahman</li>
                    </ul>
                </li>

            </ul>

            <h3>LIBRARY</h3>

            <ul class="menu">

                <li class="menu-item">
                    <div class="menu-title">History ▼</div>
                    <ul class="submenu">
                        <li>Recently Played</li>
                        <li>Recently Added</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Liked Songs ▼</div>
                    <ul class="submenu">
                        <li>Favorite Songs</li>
                        <li>Saved Albums</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Albums ▼</div>
                    <ul class="submenu">
                        <li>Hindi Albums</li>
                        <li>Tamil Albums</li>
                    </ul>
                </li>

            </ul>

            <a href="/player"><button class="playlist">+ New Playlist</button></a>

        </aside>


        <!-- MAIN CONTENT -->

        <main class="main">
            <h2 class="title">Profile</h2>
            <div class="content">

                <!-- Profile Card -->
                <div class="card profile-card">
                    <h3>Profile</h3>

                    <div class="profile-info">
                        <div class="avatar">
                            <i class="fa-regular fa-user"></i>
                        </div>

                        <div>
                            <p>User Name</p>
                            <h4 th:text="${username}">User Name</h4>

                            <p>Email</p>
                            <h4 th:text="${email}">email@example.com</h4>
                        </div>
                    </div>

                    <div class="btns">
                        <button>Edit profile</button>
                        <button>Change Password</button>
                    </div>
                </div>

                <!-- Subscription -->
                <div class="card">
                    <h3>Subscription</h3>
                    <p>Plan: <span class="highlight" th:text="${planName}"></span></p>
                    <p>Renewal: <span th:text="${nextDate}"></span></p>

                    <div class="btns">
                        <a href="/plans"><button>Manage subscription</button></a>
                        <a href="/payment"><button>View payment method</button></a>
                    </div>
                </div>

                <div class="card">
                    <h3>Connected Devices & Integrations</h3>

                    <div class="device">
                        <span><i class="fa-solid fa-mobile"></i> iphone 15 Pro</span>
                        <span>Status <span class="dot"></span></span>
                    </div>

                    <div class="device">
                        <span><i class="fa-solid fa-laptop"></i> Macbook Pro</span>
                        <span>Status <span class="dot"></span></span>
                    </div>

                    <div class="device">
                        <span><i class="fa-solid fa-volume-high"></i> Sonos Speaker</span>
                        <span>Status <span class="dot"></span></span>
                    </div>

                    <div class="btns">
                        <button>Manage Details</button>
                        <button>Connect New Device</button>
                    </div>
                </div>

                <div class="card">
                    <h3>Settings</h3>

                    <div class="setting">
                        <span>Dark mode</span>
                        <label class="switch">
                            <input type="checkbox" id="darkToggle">
                            <span class="slider"></span>
                        </label>
                    </div>

                    <div class="setting">
                        <span>High Quality Audio</span>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>

                    <div class="setting">
                        <span>Download over Wi-Fi only</span>
                        <a href="/logout">
                            <button class="logout">Logout</button>
                        </a>
                    </div>

                </div>
            </div>

        </main>
    </div>

    <script src="/js/dropdown.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>