<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tune Hive</title>
    <link rel="stylesheet" th:href="@{/css/player.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <header class="navbar">

        <div class="logo">🎧 TUNE HIVE</div>

        <nav>
            <a href="/home">Music <span class="arrow">▼</span></a>
            <a href="/index">Podcasts <span class="arrow">▼</span></a>
            <a href="/plans">Pro <span class="arrow">▼</span></a>
        </nav>

        <input type="text" placeholder="Search">

        <div class="nav-right">
            <div class="language-dropdown">
                <a href="#" id="languageToggle">Music Language <span class="arrow">▼</span></a>

                <div class="language-menu" id="languageMenu">
                    <p class="title">What music do you like?</p>
                    <small>Pick all the languages you want to listen to.</small>

                    <label>
                        <input type="checkbox">
                        <span>Malayalam</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Tamil</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Telugu</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Hindi</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Kannada</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Odia</span>
                    </label>

                    <label>
                        <input type="checkbox">
                        <span>Marathi</span>
                    </label>

                    <button id="updateBtn">Update</button>
                </div>
            </div>
            <a href="/">Login <span class="arrow">▼</span></a>
        </div>

    </header>


    <div class="container">

        <!-- SIDEBAR -->

        <aside class="sidebar">

            <h3>BROWSE</h3>

            <ul class="menu">

                <li class="menu-item">
                    <div class="menu-title">New Release ▼</div>
                    <ul class="submenu">
                        <li>Latest Albums</li>
                        <li>Latest Singles</li>
                        <li>Trending Songs</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Top Charts ▼</div>
                    <ul class="submenu">
                        <li>India Top 50</li>
                        <li>Global Top 50</li>
                        <li>Weekly Trending</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Top Playlists ▼</div>
                    <ul class="submenu">
                        <li>Workout Mix</li>
                        <li>Chill Hits</li>
                        <li>Party Songs</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Podcasts ▼</div>
                    <ul class="submenu">
                        <li>Tech Podcasts</li>
                        <li>Motivation</li>
                        <li>Comedy Shows</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Top Artists ▼</div>
                    <ul class="submenu">
                        <li>Arijit Singh</li>
                        <li>Neha Kakkar</li>
                        <li>A R Rahman</li>
                    </ul>
                </li>

            </ul>

            <h3>LIBRARY</h3>

            <ul class="menu">

                <li class="menu-item">
                    <div class="menu-title">History ▼</div>
                    <ul class="submenu">
                        <li>Recently Played</li>
                        <li>Recently Added</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Liked Songs ▼</div>
                    <ul class="submenu">
                        <li>Favorite Songs</li>
                        <li>Saved Albums</li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-title">Albums ▼</div>
                    <ul class="submenu">
                        <li>Hindi Albums</li>
                        <li>Tamil Albums</li>
                    </ul>
                </li>

            </ul>

            <a href="/player"><button class="playlist">+ New Playlist</button></a>

        </aside>



        <!-- MAIN CONTENT -->

        <main class="main">

            <div class="player">
                <div class="player-content">

                    <!-- Album Image -->
                    <img th:src="@{/images/music1.jpg}" alt="Album" class="album-img">

                    <audio id="audioPlayer">
                        <source src="/songs/pachchainirame.mp3" type="audio/mpeg">
                    </audio>

                    <!-- Artists -->
                    <p class="artist">Tanishk Bagchi, Faheem Abdullah, Arslan Irshad Kamil</p>

                    <!-- Progress Bar -->
                    <div class="progress-container">
                        <span>5:00</span>
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <span>5:00</span>
                    </div>

                    <div class="control">

                        <!-- Controls -->
                        <div class="controls">
                            <i class="fa-solid fa-list"></i>
                            <i class="fa-solid fa-backward-step"></i>
                            <i class="fa-solid fa-play" id="playBtn"></i>
                            <i class="fa-solid fa-forward-step"></i>
                            <i class="fa-solid fa-shuffle"></i>
                        </div>

                        <!-- Volume -->
                        <div class="volume">
                            🔊
                            <input type="range" min="0" max="100" value="70">
                            <span>70%</span>
                        </div>

                    </div>

                </div>
            </div>

            <!-- FOOTER -->

            <footer class="footer">

                <section class="f1">
                    <div>

                        <h4>Top Artists</h4><br>

                        <p>Neha Kakkar</p>
                        <p>Arijit Singh</p>
                        <p>Justin Bieber</p>

                    </div>

                    <div>

                        <h4>Top Actors</h4><br>

                        <p>Rajini</p>
                        <p>Vijay</p>
                        <p>Surya</p>

                    </div>

                    <div>

                        <h4>Devotional Songs</h4><br>

                        <p>Krishna</p>
                        <p>Deva Shree</p>
                        <p>Ganesh</p>

                    </div>

                    <div>

                        <h4>Languages</h4><br>

                        <p>Hindi</p>
                        <p>Tamil</p>
                        <p>Telugu</p>

                    </div>

                    <div>

                        <h4>Artist Original</h4><br>

                        <p>Abshct</p>
                        <p>Sjdueb</p>
                        <p>Dteunv</p>

                    </div>

                    <div>

                        <h4>Company</h4><br>

                        <p>About Us</p>
                        <p>Culture</p>
                        <p>Blogs</p>
                        <p>Jobs</p>
                        <p>Press</p>

                    </div>
                </section>
                <section class="f2">
                    <div class="copyright">
                        <p>@ 2025 Tune Hire Media Limited All Rights Reserved</p>
                    </div>
                    <div class="follow">
                        <p>FOLLOW US</p>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-amazon"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </section>


            </footer>

        </main>

    </div>


    <!-- MUSIC PLAYER -->

    <div class="player-icons">

        <div class="icon1">

        </div>

        <div class="icon2">
            <i class="fa-solid fa-list"></i>
            <i class="fa-solid fa-backward-step"></i>
            <i class="fa-solid fa-play"></i>
            <i class="fa-solid fa-forward-step"></i>
            <i class="fa-solid fa-shuffle"></i>
        </div>

        <div class="icon3">
            <span class="time">0:00 / 0:00</span>

            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-ellipsis"></i>
            <i class="fa-solid fa-volume-high"></i>
            <i class="fa-solid fa-expand"></i>
        </div>
    </div>

    <script src="/js/dropdown.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <script src="/js/player.js"></script>

</body>

</html>